bin/
obj/
Sdk/bin/
Sdk/obj/
ScratchTest/bin/
ScratchTest/obj/
*.zip
*.csv
.vs/
.idea/
Plugins/
*.user
publish_out/
# SecurityEnforcer persisted check cadence (runtime data)
check_interval.txt
Assets/icons/
